<div class="modal fade" id="followers-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"><%= @user.username %>'s Followers</h4>
      </div>
      <div class="modal-body">
        <% @user.followers.each do |follower| %>
          <%= image_tag follower.avatar.url(:thumb) %> <%= follower.username %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= button_tag "View People #{@user.username} follows", data: { toggle: 'modal', target: '#following-modal' }, method: :get, id: 'following-button', class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>
