<h2>Recent Photos from Users You Follow</h2>

<%= render 'feed' %>

<br />

<h2>Browse Users</h2>

<% @users.each do |u| %>
  <div class='all-users'>
    <%= image_tag u.avatar.url(:thumb), class: 'user-relationship-thumb' %> <%= link_to u.username, u %>
  </div>
<% end %>


