<h2>pho <%= fa_icon "circle", class: 'small' %> ti <%= fa_icon "circle", class: 'small' %>  di <%= fa_icon "circle", class: 'small' %> an</h2>

<h3><%= fa_icon "camera-retro" %> n. a photo a day</h3>
