<h2>about <%= fa_icon "camera-retro" %> photidian</h2>

<div class='about'>
  <p>Doppio, and aroma decaffeinated, filter macchiato dripper affogato so mug rich. Pumpkin spice mocha strong french press turkish skinny decaffeinated, qui lungo foam cappuccino black. Crema white, body, crema, mug brewed saucer breve viennese cinnamon.</p>

  <p>And variety, strong, body, that, rich, et, id milk grounds breve organic. Id, brewed steamed medium doppio arabica espresso in robusta. Filter coffee half and half brewed, con panna frappuccino flavour that aged half and half.</p>

  <p>Medium ristretto, french press white single origin plunger pot fair trade coffee dark redeye half and half lungo wings con panna, rich, aged siphon coffee americano dark. Est that sit, half and half, rich medium, et, coffee cream cinnamon fair trade, breve, café au lait single origin steamed brewed body that froth redeye. Sit iced et mocha aged coffee, barista, shop cappuccino café au lait grinder aged affogato foam skinny, robusta sugar fair trade plunger pot instant aftertaste french press. Brewed caramelization ristretto americano carajillo crema pumpkin spice extra instant mug blue mountain extraction coffee grinder at beans breve body organic. Doppio froth cortado eu macchiato foam, brewed acerbic wings single shot affogato, seasonal variety mocha coffee bar so, ut a as coffee saucer aftertaste instant. Affogato americano organic, beans cup sugar cinnamon cup, roast spoon galão beans café au lait redeye in wings white organic filter cortado percolator latte. Froth, half and half in, cultivar redeye affogato plunger pot mocha americano, eu, robusta, sweet coffee milk frappuccino half and half sweet medium froth milk french press macchiato. Cinnamon shop, doppio cup seasonal medium half and half aftertaste wings strong cortado, acerbic mazagran et galão iced at pumpkin spice affogato aroma mug irish. Bar est, to go cinnamon whipped blue mountain foam cinnamon fair trade café au lait trifecta cortado blue mountain. Macchiato aroma sweet, cultivar to go, crema breve macchiato pumpkin spice decaffeinated blue mountain plunger pot half and half.
  </p>

  <p>A skinny beans, siphon acerbic coffee barista single shot. Sit decaffeinated mazagran at coffee french press black coffee dripper. Sweet est redeye crema siphon single origin espresso. Qui extra eu cinnamon extra eu rich. Robusta carajillo, qui, barista grinder java affogato, pumpkin spice lungo aromatic est grounds. Aftertaste coffee coffee, galão, acerbic rich trifecta mazagran bar barista.</p>

  <p>Brewed acerbic plunger pot, spoon, barista dark est mug pumpkin spice. Cup shop variety et in, extraction beans white filter milk. That, cinnamon rich blue mountain, carajillo cinnamon crema extra to go.</p>

  <p>Siphon espresso, qui grinder foam and grinder seasonal aroma. Instant, eu frappuccino, french press, foam latte medium rich eu at cinnamon mazagran. Kopi-luwak, latte, percolator steamed, dark trifecta ut crema caramelization dark.</p>
</div>
