<div class="modal fade" id="s3-save" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Nice Photo!</h4>
      </div>
      <div class="modal-body">
        <div>Your photo for today has been saved.</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= button_to "View Photos", user_path(current_user.id), method: :get, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>
