<h2>Browse Photos</h2>

<div class='col-lg-10 all-photos whitespace-bottom'>
  <% @display_all_photos.each do |key, photo| %>
      <div class="whitespace-bottom">
        <%= link_to key.user.username, key.user %>
        <img src="<%= photo %>">
      </div>
  <% end %>
</div>
