<%= javascript_include_tag 'photos' %>

<video id='vid'></video>
<button id='start'>Start Camera!</button>
<button id='take-photo'>Take Photo!</button>
<button id="upload-button">Upload to S3</button>
<canvas id='can'></canvas>


<img src="http://placekitten.com/600/420" id="photo" alt="photo">
