<%= javascript_include_tag 'photos' %>

<video id='vid'></video>
<button id='start'>Start Camera!</button>
<button id='take-photo'>Take Photo!</button>
<canvas id='can'></canvas>

<img src="http://placekitten.com/g/320/261" id="photo" alt="photo">
