<%= javascript_include_tag 'photos' %>

<div class='buttons'>
  <button id='start' class='btn btn-primary'><%= fa_icon "camera-retro" %> Start Camera!</button>
  <button id='take-photo' class='btn btn-primary'>Take Photo!</button>
  <button id='upload-button' class='btn btn-primary'>Use this photo for <%= Date.today.to_formatted_s(:long) %>.</button>
</div>

<div class="video-canvas col-md-6">
  <video id='vid' width ='500' height='420'></video>
  <canvas id='can' width ='500' height='420'></canvas>
</div>

<div class="snapshot col-md-6">
  <img src="" id="photo">
</div>

<div class="modal fade" id="s3-save" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Your photo for today has been saved. </h4>
      </div>
      <div class="modal-body">
        <%= button_to "View Photos", user_path(@user), method: :get, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>
