<h2>Browse Photos</h2>
<div class='all-photos'>
  <% @display_all_photos.each do |key, photo| %>
      <div>
        <%= link_to key.user.username, key.user %>
      </div>
      <div>
        <img src="<%= photo %>">
      </div>
    </div>
  <% end %>
  <div calss="whitespace-bottom">
</div>
