.index-page {
  margin-top: 5%;
  margin-left: 2%;
}

.index-page h1 {
  font-size: 52px;
}

.cir-lg {
  color: #000;
  font-size: 22px;
}

.cir-md {
  color: #000;
  font-size: 32px;
}

.cir-xs {
  color: #000;
  font-size: 28px;
}

.cir-xxs {
  color: #000;
  font-size: 12px;
}

.about {
  margin: 0 auto;
  width: 100%;
}

.about p {
  font-size: 16px;
  padding: 5px;
  padding: .5rem;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.whitespace-bottom {
  margin-bottom: 60px;
  margin-bottom: 6rem;
}

.buttons {
  text-align: center;
}

.allow-access p {
  font-size: 36px;
}
