/* Global Styles */
/* #TODO Add in Pure CSS and strip out bootstrap. Don't forget to write a modal js to handle sign in */

.centered {
  text-align: center;
}

.hide {
  display: none;
}

.whitespace-top-bottom {
  padding-top: 10px;
  padding-bottom: 10px;
}

.whitespace-bottom {
  margin-bottom: 60px;
  margin-bottom: 6rem;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

/* Nav Styles */
.top-nav {
  color: #000;
  font-size: 48px;
}

.nav {
  list-style-type: none;
  text-align: center;
}

.nav li {
  display: inline-block;
}

.cir-lg {
  color: #000;
  font-size: 22px;
}

.cir-md {
  color: #000;
  font-size: 32px;
}

.cir-xs {
  color: #000;
  font-size: 28px;
}

.cir-xxs {
  color: #000;
  font-size: 12px;
}

/* Nav Dropdown Styles */

.about-photidian-desc {
  width: 50%;
  margin: 0 auto;
  padding: 15px 0;
  font-size: 16px;
}

#search-form-wrapper {
  margin: 0 auto;
  max-width: 400px;
}

#search-form {
  margin: 0 auto;
  padding: 15px;
}

.continue {
  font-size: 18px;
}

.continue-demo {
  padding: 15px;
}

.continue-demo p {
  font-size: 18px;
  right: 0;
  left: 0;
  margin: auto;
}

.notice-alert {
  font-size: 16px;
  text-align: center;
  margin: 0 auto;
  border-radius: 15px;
  max-width: 500px;
}

.taken-today {
  font-size: 18px;
}

.left-align {
  text-align: left;
}

.white {
  color: #95a5a6;
  background-color: #fff;
  border-color: #fff;
}

.white:hover {
  color: #fff;
  background-color: #95a5a6;
  border-color: #95a5a6;
}

