// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.index {
  margin: 0 auto;
}

.photidian-about {
  margin: 0 auto;
  text-align: left;
}

.buttons {
  display: block;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
}

.video-canvas {
  margin: 0 auto;
  padding-top: 20px;
  padding-top: 2rem;
  padding-bottom: 20px;
  padding-bottom: 2rem;
}

.snapshot {
  margin: 0 auto;
  padding-top: 20px;
  padding-top: 2rem;
  padding-bottom: 20px;
  padding-bottom: 2rem;
}

.inline {
  display: block;
}

#can {
  display: none;
}

.all-photos {
  margin: 0 auto;
  padding: 20px;
  padding: 2rem;
}
