<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="https://farm4.staticflickr.com/3792/11821175215_c4d71fce3b_h.jpg" alt="New York Skyscrapers">
      <div class="carousel-caption">
        ...
      </div>
    </div>
    <div>
      <img src="https://farm3.staticflickr.com/2883/11932237194_63675ff6a8_h.jpg" alt="Fushimi Inari">
      <div class="carousel-caption">
        ...
    </div>
    <div>
      <img src="https://farm3.staticflickr.com/2836/11898803116_f4622ae3b0_h.jpg" alt="Dubrovnik">
      <div class="carousel-caption">
        ...
    </div>
    ...
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
