<div class="whitespace-top-bottom">
  <% if notice %>
    <p class="notice alert-success alert-dismissable notice-alert">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= notice %></p>
  <% end %>
</div>
<div class="whitespace-top-bottom">
  <% if alert %>
      <p class="alert alert-danger alert-dismissable notice-alert">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= alert %></p>
  <% end %>
</div>
