<div class="continue">Please <%= button_tag "sign up", data: { toggle: 'modal', target: '#sign-up-modal' }, method: :get, id: 'sign-up-button', class: 'btn white' %> or <%= button_tag "sign in", data: { toggle: 'modal', target: '#sign-in-modal' }, method: :get, id: 'sign-in-button', class: 'btn white' %> to continue.</div>

<div class="continue-demo">Don't want to sign up for an account? <a id="demo" data-container="body" data-toggle="popover" data-placement="bottom" data-content="email: photidian@gmail.com password: photidiandemo ***Please be aware that any photos you take will be accessible to all users.">Click here</a> to view the demo account credentials.</div>

<div id="sign-up">
  <%= render :template => 'devise/registrations/_new' %>
</div>

<div id="sign-in">
  <%= render :template => 'devise/sessions/_new' %>
</div>
