<div class="continue">Please <%= button_tag "sign up", data: { toggle: 'modal', target: '#sign-up-modal' }, method: :get, id: 'sign-up-button', class: 'btn white' %> or <%= button_tag "sign in", data: { toggle: 'modal', target: '#sign-in-modal' }, method: :get, id: 'sign-in-button', class: 'btn white' %> to continue.</div>

<div id="sign-up">
  <%= render :template => 'devise/registrations/_new' %>
</div>

<div id="sign-in">
  <%= render :template => 'devise/sessions/_new' %>
</div>
